/* header */

.sony{
    background-color: black;
    text-align: end;
}

.sony>img{
    width: 7%;
}

/* main */

/* jumbotron */

.jumbotron{
    background-image: url('./img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
    color: white;
    padding-top: 40vh;
}

/* banner */

.banner{
    background-image: url('./img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    color: white;
    padding-top: 40px;
}

.new{
    background-color: black;
    height: 90vh;
    color: white;
    padding-top: 50px;
}
