/* utils */

ul>li{
    list-style-type: none;
}

/* HEADER */

.sony{
    background-color: black;
    text-align: end;
}

.sony>img{
    width: 7%;
}

/* MAIN */

/* jumbotron */

.jumbotron{
    background-image: url('./img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
    color: white;
}

.jumbotron:active{
    background-image: url('./img/ratchet-and-clank-rift-apart-keyart.jpg');
}

.jumbotron>.container{
    height: 80vh;
}

.outline:hover{
    outline: #0072ce solid 3px;

}


.img-console{
    width: 150px;
}

.col-console:hover{
    border-bottom: 1px solid #0072ce;
}

/* banner */

.banner{
    background-image: url('./img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    color: white;
    padding-top: 40px;
}

.banner>.container{
    height: 80vh;
}

.banner-logo{
    width: 200px;
}

/* new, explore, plus, now */
.new{
    background-color: black;
    color: white;
    padding-top: 50px;
}

.explore{
    padding-top: 50px;
}

.plus{
    background-color: lightgray;
    
}

.img-plus{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.now{
    background-color: black;
    color: white;
    
}

/* FOOTER */

footer{
    background-color: rgb(76, 73, 230);
    color: white;
}

.footer-logo-ps{
    width: 100px;
}

.globe{
    width: 20px
}

.footer-logo-sony{
    width: 200px;
}






